
.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
}

@media screen and (min-width: 850px) {
  .App {
    max-width: 100%;
    min-height: 95vh;
    margin: 0vh 0vh;
  }
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
      width: 5px;
      background-color: #cccccc;
      border-radius: 5px;
  }
  
}

@media screen and (max-width: 850px) {
  .App {
    max-width: 100%;
    min-height: 95vh;
    margin: 0vh 0vh;
  }
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #FFFFFF;
  }
  ::-webkit-scrollbar-thumb {
      width: 5px;
      background-color: #cccccc;
      border-radius: 5px;
  }
  
}